<!DOCTYPE html>
    <head>
        <title>COMP 4711 Lab 6 - A01031961, Tomson Tai</title>
        <!-- References a Handlebars partial in views/partials/head.handlebars -->
        {{>head}}
        
    </head>
    
    <body>

    <form action = "/login" method="POST"> 
        Username:<br>
        <input type="text" id="usernameid" name="username" value="A01031961">
        <br>
        Last name:<br>
        <input type="text" id="passwordid" name="password" value="password">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>