<form action="POST"> 
    Username:<br>
    <input type="text" id="usernameid" value="Mickey">
    <br>
    Last name:<br>
    <input type="text" id="passwordid" value="Mouse">
    <br><br>
    <input type="submit" value="Submit">
</form>