<form action="POST" action="/login"> 
    Username:<br>
    <input type="text" id="usernameid" >
    <br>
    Last name:<br>
    <input type="text" id="passwordid" >
    <br><br>
    <input type="submit" value="Submit">
</form>